

h1 {
    text-align: center;
}


body {
    background: lightslategray;
}

.instruction {
    margin-left: 50px;
}

textarea {
    background: slategrey;
}

h1 {

}

h2 {
    font-weight: 1000;
    margin-left: 5px;
}

ol {
    display: flex;
    flex-flow: row wrap;    
    padding: 15px 15px 15px 15px;
    font-size: 20px;
    width: 40%;
    margin-left: 25px;

}

#secondli {
    float: right;
}

.trans-main {    
    padding: 5px;
    margin: 10px;
}

.goodStuff {
}

#trans-btn {
    align-self: center;
    margin-top: 80px;
}
.inputText{
    float: left;
}

.outputText {
    float: right;
}

.butt {
    border-radius: 15px;
    background-color: black ;
    font-size: 18px;
    color: forestgreen
}

.butt:focus {
    border-radius: 15px;
    background-color: forestgreen;
    font-size: 18px;
    color: black;

}




